<appSettings>
  <add key="ida:AppID" value="16f08557-50f5-4c16-8947-3b5413420317" />
  <add key="ida:AppPassword" value="ezYAZ7612]uwjvsULCC8;:+" />
  <add key="ida:RedirectUri" value="http://localhost:52251/" />
  <add key="ida:AppScopes" value="User.Read Mail.Read Calendars.Read" />
</appSettings>